*{
    margin: 0px;
    padding: 0px;
}
/* Home Style */
.home{

}

.section_one_home{
    height: 362px;
    background-image: url('asset/home_one.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header_home{
background-color: rgba(175, 157, 90, 0.6);
height: 70px;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
display: flex;
}

.Hamburger_icon_home{
width: 40px;
height: 30px;
margin-left: 50px;
margin-top: 20px;
}

.ul_home{
    width: 350px;
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    margin-left: 15px;
    font-size: 20px;
    margin-top: 22px;
}

.li_home{
 
}
.a_home{
    text-decoration: none;
    color: white;
}

.p_one_home{
    text-align: center;
    width:331px ;
    padding-left:950px ;
    padding-top: 125px;
    font-weight: 200px;
    font-size: 32px;
}

.line_home{
    position: absolute;
    top: 250px;
    right: 40px;
    width: 400px;
    border-top: 2px dashed black;
}

.logo_home{
    width: 220px;
    height: 230px;
    position: absolute;
    left: 560px;
    top: 250px;
}

.section_two_home{
    height: 362px;
    background-color:rgba(36,43,46,1);
}

.images_home{
   display: inline-block;
}

.ig_home{
    display: block;
    width: 42px;
    height: 35px;
    margin-bottom: 9px;
    margin-left: 20px;
}

.igg_home{
    display: block;
    width: 30px;
    height: 60px;
    position: absolute;
    left: 28px;
    top:665px;
}

.p_home{
    text-align: center;
}

.p_two_home{
margin-left:570px ;
margin-right:570px ;
font-size: 32px;
margin-top: -180px;
color: rgba(175,157,90,1);
text-align: center !important;
font-family: ASTRO;
}

.p_three_home{
    margin-top: 12px;
    margin-left:120px ;
    margin-right:120px ;
    letter-spacing: 0.02px;
    color: rgba(93,88,71,1);
    text-align: center;
    font-size: 20px;
    font-family: Corbel;
}

.im_home{
    width: 60px;
}


/* About Us Style */
.about_us{
    height: 307px;
}


/* Portfolio Style */
.portfolio{
    height: 307px;
    background-color: #D7DADF;
}


/* Services Style */
.services{
    height: 614px;
}


/* Location Style */
.location{
    height: 514px;
}


/* Testemonial Style */
.testemonial{
    height: 550px;
    background-color: #101213;
}
.testemonial_header{
    color: white;
    margin-left: 20px;
    padding-top: 10px;
}
.testemonial_img{
    background-color: #a2a3a5;
    height: 300px;
    width: 300px;
    margin-top: 2%;
    margin-left: 20%;
    border-radius: 20px;
    display: inline-block;
    margin-left: 7%;
}
.dots{
    margin-left: 45%;
    margin-top: 1%;
}
.dot{
    width: 30px;
    height: 30px;
}
.test_stars{
    margin-left: 15px;
}
.text{
margin-left: 150px ;
margin-right: 150px ;
margin-top: 2%;
color: rgba(175,157,90,1);
text-align: left !important;
letter-spacing: 0.02px;
font-size: 20px;
font-family: Corbel;
}
.test_username{
 text-align: center;
}
.test_comment{
    text-align: center;
    margin-top: 10px;
}
.profile_test{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 10px;
}
.test_stars{
    margin-top: 80px;
}
@media screen and (max-width:360px)and (min-width:100px){
    .dots{
        margin-left: 45%;
        margin-top: 1%;
    }
    .dot{
        width: 30px;
        height: 30px;
    }
    .test_stars{
        margin-left: 15px;
    }
    .text{
    margin-left: 100px ;
    margin-right: 100px ;
    margin-top: 2%;
    color: rgba(175,157,90,1);
    text-align: left !important;
    letter-spacing: 0.02px;
    font-size: 20px;
    font-family: Corbel;
    }
    .test_username{
     text-align: center;
    }
    .test_comment{
        text-align: center;
        margin-top: 10px;
    }
    .profile_test{
        width: 100px;
        height: 100px;
        margin-left: 100px;
        margin-top: 10px;
    }
    .test_stars{
        margin-top: 80px;
    }
}
@media screen and (max-width:576px)and (min-width:360px){

}

@media screen and (max-width:768px)and (min-width:576px) {

}
@media screen and (max-width:992px)and (min-width:768px) {

}

@media screen and (max-width:1200px)and (min-width:992px) {

}


/* Contact Us Style */
.contact_us_page{
    height: 614px;
    background-image: url('asset/n_2.png');
    background-color: #101213;
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}
.FeedBack{
    margin-left: 20px;
    color: #D7DADF;
}
.contact_us{
    display: block;
    color: #D7DADF;
    margin-top: 50px;
    margin-left: 20px;
}
.p-contact, .p_feedback{
    font-size: 20px;
    font-family: bold;
}
.img_contact{
    display: inline-block;
    width: 4%;
}
.contact_buttons{
    margin-left: 5%;
    margin-top: 1%;
}
.p_feedback{
  padding-top: 10px;
}
.FeedBack_form{
    /* background-color: rgb(223, 138, 12); */
    width: 40%;
    height: 50%;
    margin-left: 35%;
    margin-top: 20px;
}
#name, #email{
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgba(167, 164, 164, 0.4);
    color: #D7DADF;
    padding: 5px;
    display: inline-block;
}
#comment{
    height: 150px;
    width: 318px;
    border-radius: 20px;
    background-color: rgba(167, 164, 164, 0.4);
    color: #D7DADF;
    padding: 5px;
    margin-top: 10px;
    border: none;
}
.comment{
    margin-top: 10px;
}
.emoji_contact{
    height: 50px;
    width: 50px;
    padding: 5px;
}
.emojies{
    margin-left: 70px;
    margin-top: 1%;
    width: 50%;
    height: 50%;
    display: inline-block;
}
/* label{
    display: block;
    color: #af9d5a;
} */
.form_one{
    display: inline-block;
}
.label_nameEmail{
    display: flex;
    flex-direction: row;
    color: #af9d5a;
}
.email_label{
    padding-left: 38%;
    padding-bottom: 10px;
}
.comment_label{
    color: #af9d5a;
}