*{
    margin: 0;
    padding: 0;
}
/* Home Style */
.home{
    height: 614px;
}


/* About Us Style */
.about_us{
    height: 307px;
}


/* Portfolio Style */
.portfolio{
    height: 307px;
    background-color: #D7DADF;
}


/* Services Style */
.services{
    height: 614px;
}


/* Location Style */
.location{
    height: 514px;
}


/* Testemonial Style */
.testemonial{
    height: 614px;
}


/* Contact Us Style */
.contact_us{
    height: 614px;
}